<h1>Crowdfunder</h1>
<% if current_user %>
<%= link_to "My Profile", user_path(current_user) %> / <%= link_to "Post New Project", new_project_path %>
<% end %>




<% @projects.each do |p| %>
<div>
<li>	<%= link_to p.name, project_path(p) %><br/>
	<%= p.description %>
	$<%= p.total_cost %>.00,
	Created: <%= display_date(p.created_at) %>, 
	Deadline: <%= display_date(p.deadline) %> </li>
</div>
<% end %>

<p>Total Contributions:</p> 
$<%= total_contributions(Contribution.all)%>.00