<h1>Make a Contribution</h1>

<%= form_for [@project, @contribution] do |f| %>
	<% if @project.errors.any? %>
		<div id="error explanation">
			<h2><%= pluralize(@contribution.errors.count, "error") %> prohibited this contribution from being saved:
			</h2>

			<ul>
				<% @contribution.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>



	
	<div class="field">
		<%= f.label :amount %><br />
		$<%= f.number_field(:amount, {:min => 1}) %>.00<br />
	</div>
	
	<div class="actions">
		<%= f.submit %>
	</div>

<% end %>